
@import "ember-cli-bootstrap-4/bootstrap";


.published{

}

.draft{
    opacity: 0.5;
}


.post-header{
    min-height: 50vh;
    max-height: 70vh;
    background: center center no-repeat;
    background-size: cover;
}

.link-helper i{
  font-size: 1em;
  margin-left: .5em;
}
