.published{

}

.draft{
    opacity: 0.5;
}

header{
    min-height: 50vh;
    max-height: 70vh;
    background: url(http://www.visitnorwich.co.uk/assets/Uploads/Events-images/Theatre-generic.jpg) center center no-repeat;
    background-size: cover;   
}